.services {
  padding: 75px 120px 75px;
  width: 100%;
  background-color: #F4F4F4;
}
.services__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.services__item {
  width: calc(50% - 36px);
}
.services__img {
  width: 100%;
}
.services__img img {
  width: 100%;
}
.services__info {
  margin-top: 24px;
  font-size: 14px;
}
.services__title {
  font-weight: 600;
}
.services__description {
  color: #151D28;
  margin: 8px 0 16px;
  font-weight: 300;
  line-height: 1.4;
}
.services__link {
  color:#000000;
  text-decoration: none;
}
.services__link img {
  margin-left: 8px;
}
.services__arrow_pink {
  display: none;
}
.services__arrow_black {
  display: inline;
}
.services__link:hover {
  color: #DB0090;
}
.services__link:hover .services__arrow_pink {
  display: inline;
}
.services__link:hover .services__arrow_black {
  display: none;
}
@media screen and (max-width: 900px) {
  .services {
    padding: 70px 80px;
  }
}
@media screen and (max-width: 780px) {
  .services {
    padding: 60px 60px;
  }
  .services__info {
    font-size: 12px;
  }
}
@media screen and (max-width: 600px) {
  .services__grid {
    width: 100%;
    flex-direction: column;
    align-items: center;

  }
  .services__item {
    width: 100%;
    margin-bottom: 30px;
  }
  .services__description {
    line-height: 1.2;
  }
}
